@import "tailwindcss";

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@theme{
    --font-poppins :Poppins, "sans-serif";
}
body{
  font-family: 'Poppins', sans-serif
}
input,textarea,select{
    outline: none;
}
.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}
button:disabled{
    opacity: 0.4;
    cursor: not-allowed;
}
@keyframes blinkBg {
  0%, 100% {
    background-color: #0070cb;
  }
  50% {
    background-color: rgba(0, 112, 203, 0.2);
  }
}

.blink-bg {
  animation: blinkBg 1.2s ease-in-out infinite;
}
.loader {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}